<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="container-carrusel">
    <div class="carruseles" id="slider">
        
      <section class="slider-section" id="xd">
        <img src="./img/Amd-versal.avif">
      <h1 class="texto1">
            Presentamos Amd Embedded+
        </h1>
        <p class="parrafo1">
            <br>
            <br>
            Con procesadores AMD Ryzen™ Embeddead+ con SoC adapdables AMD Versal™ AI Edge para entornos industriales y de borde con diversos sensores
            <a class="btn1" href="#">Obtener mas informacion</a>
          </p>
        </section>
      <section class="slider-section">
        <img src="./img/Amd-ryzen.avif">
        <h1 class="texto2">
            Juega sin una tarjeta gráfica
        </h1>
        <p class="parrafo2">
            <br>
            <br>
            los procesadores AMD Ryzen™ Serie 8000G más recientes cuentan con las mejores graficas integradas de su tipo para que puedas jugar prácticamente cualquier juego de PC en alta definición.
        </p>
        <a class="btn2" href="#">Obtener mas informacion</a>
      </section>
      <section class="slider-section">
        <img src="./img/Concurso desarrolladores.avif">
        <h1 class="texto3">
            Presentamos el concurso para desarrolladores de IA genereralizada de AMD
        </h1>
        <p class="parrafo3">
            <br>
            <br>
            Crea la próxima oleada de aplicaciondes para robótica, PC e IA generativa. Consulta los detalles del concurso y participa.
        </p>
        <a class="btn3" href="#">Obtener mas informacion</a>
      </section>
      <section class="slider-section">
        <img src="./img/Threadripper.avif">
        <h1 class="texto4">
            Descubre los nuevos procesadores Ryzen™ Threadripper™ Serie 7000
        </h1>
        <p class="parrafo4">
            <br>
            <br>
            Con hasta 96 núcleos de alto rendimiento y 192 subprocesos de procesamiento. Más rápido que nunca.
        </p>
        <a class="btn4" href="#">Obtener mas informacion</a>
      </section>
      <img src="https://www.amd.com/content/dam/amd/en/images/logos/partners/2330500-amd-twa-hackster-logo.png" class="imagen-logo" alt="">
    </div>
    <div class="btn-left"> <i class='bx bx-chevron-left'></i> </div>
    <div class="btn-right"> <i class='bx bx-chevron-right'></i> </div>

    
  </div>

   
<script is:inline>
  const btnLeft = document.querySelector(".btn-left"),
    btnRight =document.querySelector(".btn-right"),
    slider = document.querySelector("#slider"),
    btn = document.querySelector(".btn1"),
    sliderSection = document.querySelectorAll(".slider-section");

btnLeft.addEventListener("click", e => moveToLeft())
btnRight.addEventListener("click", e => moveToRight())

setInterval(() =>{
  moveToRight();
},4000);

let operacion = 0,
  counter = 0;

function moveToRight(){
  if(counter >= sliderSection.length-1){
      counter = 0
      operacion = 0
      slider.style.transform = `translate(-${operacion}%)`;

  }
  else {counter ++;
  operacion = operacion + 101;
  slider.style.transform = `translate(-${operacion}%)`
  slider.style.transition = "all ease .4s";
}}
function moveToLeft(){
  counter--;
  if (counter < 0 ){
      counter =sliderSection.length-1;
      operacion = 404;
      slider.style.transform = `translate(-${operacion}%)`
  }
  operacion = operacion - 101;
  slider.style.transform = `translate(-${operacion}%)`
  slider.style.transition = "all ease .4s";
}
</script>

  <style>
.texto1{
    top: 35%;
    left: 4%;
    color: #fff;
    position: fixed;
    font-size: 43px;
}
.parrafo1{

top: 44%;
left: 4%;
color: #fff;
position: fixed;
font-size: 20px;
width: 600px;
text-wrap: balance;
}

.btn1{
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: #fff;
    border-radius: 3px;
    font-size: 18px;
    top: 82%;
    position: fixed;
    left: 4%;
    text-decoration: none;
    color: #fff;
    background: rgb(25,24,24);
    background: linear-gradient(90deg, rgba(25,24,24,1) 0%, rgba(117,114,114,1) 100%);
}

.texto2{
    top: 35%;
    left: 105%;
    color: #fff;
    position: fixed;
    font-size: 43px;
    width: 1000px;
    
}
.parrafo2{
    top: 40%;
    left: 105%;
    color: #fff;
    position: fixed;
    font-size: 22px;
    width: 655px;
    
}
.btn2{
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: #fff;
    border-radius: 3px;
    font-size: 18px;
    position: fixed;
    top: 83%;
    left: 105%;
    text-decoration: none;
    color: #fff;
    width: 220px;
    background: rgb(25,24,24);
    background: linear-gradient(90deg, rgba(25,24,24,1) 0%, rgba(117,114,114,1) 100%);
}
.texto3{
    top: 4%;
    left: 206%;
    color: #fff;
    position: fixed;
    font-size: 43px;
    width: 700px;   
}
.parrafo3{
    top: 34%;
    left: 206%;
    color: #fff;
    position: fixed;
    font-size: 21px;
    width: 660px;
    
}
.btn3{
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: #fff;
    border-radius: 3px;
    font-size: 18px;
    position: fixed;
    top: 83%;
    left: 206%;
    text-decoration: none;
    color: #fff;
    width: 220px;
    background: rgb(25,24,24);
    background: linear-gradient(90deg, rgba(25,24,24,1) 0%, rgba(117,114,114,1) 100%);
}
.texto4{
    top: 32%;
    left: 306%;
    color: #fff;
    position: fixed;
    font-size: 43px;
    width: 700px;   
}
.parrafo4{
    top: 50%;
    left: 306%;
    color: #fff;
    position: fixed;
    font-size: 21px;
    width: 660px;
}
.btn4{
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: #fff;
    border-radius: 3px;
    font-size: 18px;
    position: fixed;
    top: 83%;
    left: 306%;
    text-decoration: none;
    color: #fff;
    width: 220px;
    background: rgb(25,24,24);
    background: linear-gradient(90deg, rgba(25,24,24,1) 0%, rgba(117,114,114,1) 100%);
}
.imagen-logo{
    top: 62%;
    left: 206%;
    position: fixed;
    size: 20px;
}
    
.container-carrusel{
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.66);
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
 
  
}

.carruseles{
  width: 100%;
  height: 100%;
  display: flex;
}
.slider-section{
}
#xd{
  transform: translate(0);
}
.slider-section img{
  width: 1530px;
}
.btn-left, .btn-right{
  display: flex;
  position: absolute;
  top: 47%;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff81;
  transform: translate(0, -50);
  transition: .5s ease;
  user-select: none;
}
.btn-left:hover, .btn-right:hover{
  background-color: #333333d4;
  color: #fff;
}

.btn-left{
  left: 10px;
}
.btn-right{
  right: 10px;
}
  </style>
