<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<nav>
    <ul>
        <li><a href=""><img src="./img/amd-logo.png" alt=""></a></li>
        <li><a href="">Productos</a></li>
        <li><a href="">Soluciones</a></li>
        <li><a href="">Descargas y Asistencia Tecnica</a></li>
        <li><a href="">Tienda</a></li>
        <li><a class="usuario" href=""><i class='bx bx-user'style='color:#ffffff'></i></a></li>
        <li><a href=""><i class='bx bx-world' style='color:#ffffff' ></i></a></li>
        <li><a class="search" href=""><i class='bx bx-search' style='color:#ffffff'></i></a></li>
    </ul>
</nav>

<style>
    ul{
        display: flex;
        justify-content: space-around;
        padding-top: 18px;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    a:hover{
        text-decoration: underline;
    }
    .usuario{
        padding-left: 380px;
    }
    .search{
        padding-right: 90px;
    }
    
    img{
        width: 120px;
    }
    i{
        font-size: 24px;
    }
</style>